section{
  display:flex;
  flex-direction:column;
}
h1{
  font-family: 'Open Sans', sans-serif;
  font-size:3em;
}
a{
  font-size:18px;
  color:blue;
  text-decoration:none;
  margin:5px;
  font-family: 'Merriweather', serif;
}
a:hover{
  color:lightgreen;
}